/*why won't .bottom div display*/
/*why won't #guess list display as flex? or really, 
i cant make the LIs display on a 2nd line once div is full*/

/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.top, .bottom, .left, .right {
  background: #573E63;
  position: fixed;
}

.left, .right {
  top: 0; 
  bottom: 0;
  width: 1em;
}

.left { 
  left: 0; 
}

.right { 
  right: 0; 
} 

.top, .bottom {
  left: 0; 
  right: 0;
  height: 1em;
}

.top {
	top: 0;
}

.bottom {
	bottom:0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: #FFFCF5;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

ul li {	
	display: inline;
}

/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/

nav {
	position: relative;
	height: 10%;
	padding: 1.5em;
}


nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {

	color: #091D1F;
}

h1 {
	font-weight: 900;
	font-size: 3em;
	padding: 0.1em;
	color: #091D1F;

}

/*style for hidden modal*/
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
/*	background: #D6524D;*/
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: #FFFCF5;;
	background: #D6524D;
	position: relative;
	height: auto;
	width: 600px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	font-size: 0.8em;
	background: #573E63;
	color: #FFFFFF;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

/*---------------------------------------------------------------------------------
   Game Section Styles
---------------------------------------------------------------------------------*/

.game {
	position: relative;
	background-color: #41E5ED;
	width: 27em;
	height: 27em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 2em auto;

}

h2 {
	background: #D6524D;
	padding: 2.1em 0.4em;
    font-size: 1.2em;
	font-weight: 400;
	display: block;
	line-height: 1em;
	color: #FFFFFF;
	height: 6em;
    width: 6em;
    border-radius: 50%;
    margin-left: -1em;
    box-shadow: 2px 4px 12px black;
}

.game p {
	margin-top: 1.2em;
	font-size: 1.4em;
	padding-bottom: 0.2em;
}

#count {
	color: #573E63;
	font-weight: 700;
	font-size: 1.4em;
}

input {
	width: 300px;
	height: 50px;
	display: block;
	padding: 0.8em 0;
	margin: 0.6em auto 0;
	background: #FFFCF5;
	border: solid 1px #1f253d;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

input.button {
	background: #573E63;
	color: #FFFFFF;
	font-size: 1.5em;
	padding: 0.2em;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	width: 6em;
}

input.button:hover {
	background: #D6524D;
	color: #fff;
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
	cursor: pointer;
}

input.text {
	text-align: center;
	padding: 0.2em;
	font-size: 1.1em;
	margin-top: -.2em;
	width: 13em;
}

input:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: #573E63;
}

:-moz-placeholder { /* Firefox 18- */
   color: #573E63;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #573E63; 
}

:-ms-input-placeholder {  
   color: #573E63; 
}

ul.guessBox {
	height: 100px;
	margin: 10px auto 0;
	background: #D6524D;
	padding: 0.8em;
	display: block;
	line-height: 2em;
	color: #fff;
	overflow: auto;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 2px 4px 12px black;
}
ul.guessBox li {
	display: inline;
	background-color: #FFFFFF;
	padding: 0.6em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 95%;
	margin: 0.2em;
	color: black;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    margin-top: 3.5em;
}

#gitIcon {
  color: #927AA6;
  margin-right: .85em;
}

#infoIcon {
  color: #927AA6;
  margin-left: .85em;
}